<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.StoryKeywordMapper">
    
    <resultMap type="StoryKeyword" id="StoryKeywordResult">
        <result property="id"    column="id"    />
        <result property="storyId"    column="story_id"    />
        <result property="keyword"    column="keyword"    />
        <result property="redirectUrl"    column="redirect_url"    />
        <result property="bannel"    column="bannel"    />
        <result property="connType"    column="conn_type"    />
        <result property="connId"    column="conn_id"    />
    </resultMap>

    <sql id="selectStoryKeywordVo">
        select id, story_id, keyword, redirect_url, bannel, conn_type, conn_id from story_keyword
    </sql>

    <select id="selectStoryKeywordList" parameterType="StoryKeyword" resultMap="StoryKeywordResult">
        <include refid="selectStoryKeywordVo"/>
        <where>  
            <if test="storyId != null "> and story_id = #{storyId}</if>
            <if test="keyword != null  and keyword != ''"> and keyword = #{keyword}</if>
            <if test="redirectUrl != null  and redirectUrl != ''"> and redirect_url = #{redirectUrl}</if>
            <if test="bannel != null  and bannel != ''"> and bannel = #{bannel}</if>
            <if test="connType != null  and connType != ''"> and conn_type = #{connType}</if>
            <if test="connId != null  and connId != ''"> and conn_id = #{connId}</if>
        </where>
    </select>
    
    <select id="selectStoryKeywordById" parameterType="Long" resultMap="StoryKeywordResult">
        <include refid="selectStoryKeywordVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoryKeyword" parameterType="StoryKeyword">
        insert into story_keyword
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="storyId != null">story_id,</if>
            <if test="keyword != null">keyword,</if>
            <if test="redirectUrl != null">redirect_url,</if>
            <if test="bannel != null">bannel,</if>
            <if test="connType != null">conn_type,</if>
            <if test="connId != null">conn_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="storyId != null">#{storyId},</if>
            <if test="keyword != null">#{keyword},</if>
            <if test="redirectUrl != null">#{redirectUrl},</if>
            <if test="bannel != null">#{bannel},</if>
            <if test="connType != null">#{connType},</if>
            <if test="connId != null">#{connId},</if>
         </trim>
    </insert>

    <update id="updateStoryKeyword" parameterType="StoryKeyword">
        update story_keyword
        <trim prefix="SET" suffixOverrides=",">
            <if test="storyId != null">story_id = #{storyId},</if>
            <if test="keyword != null">keyword = #{keyword},</if>
            <if test="redirectUrl != null">redirect_url = #{redirectUrl},</if>
            <if test="bannel != null">bannel = #{bannel},</if>
            <if test="connType != null">conn_type = #{connType},</if>
            <if test="connId != null">conn_id = #{connId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoryKeywordById" parameterType="Long">
        delete from story_keyword where id = #{id}
    </delete>

    <delete id="deleteStoryKeywordByIds" parameterType="String">
        delete from story_keyword where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>