<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.StoryBackMapper">
    
    <resultMap type="StoryBack" id="StoryBackResult">
        <result property="id"    column="id"    />
        <result property="originId"    column="origin_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="banner"    column="banner"    />
        <result property="sort"    column="sort"    />
        <result property="title"    column="title"    />
        <result property="type"    column="type"    />
        <result property="chars"    column="chars"    />
        <result property="sTime"    column="s_time"    />
        <result property="world"    column="world"    />
        <result property="author"    column="author"    />
        <result property="desc"    column="desc"    />
        <result property="summary"    column="summary"    />
        <result property="otext"    column="otext"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectStoryBackVo">
        select id,origin_id,parent_id,banner, sort, title, type, chars, s_time, world, author, `desc`, summary,otext, create_time, update_time, create_by, update_by from story_back
    </sql>

    <select id="selectStoryBackList" parameterType="StoryBack" resultMap="StoryBackResult">
        <include refid="selectStoryBackVo"/>
        <where>  
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="chars != null  and chars != ''"> and chars = #{chars}</if>
            <if test="sTime != null  and sTime != ''"> and s_time = #{sTime}</if>
            <if test="world != null  and world != ''"> and world = #{world}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
        </where>
    </select>
    
    <select id="selectStoryBackById" parameterType="Long" resultMap="StoryBackResult">
        <include refid="selectStoryBackVo"/>
        where id = #{id}
    </select>

    <insert id="insertStoryBack" parameterType="StoryBack" useGeneratedKeys="true" keyProperty="id">
        insert into story_back
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="originId != null">origin_id,</if>
            <if test="sort != null">sort,</if>
            <if test="parentId != null "> parent_id,</if>
            <if test="banner != null "> banner,</if>
            <if test="title != null">title,</if>
            <if test="type != null">type,</if>
            <if test="chars != null">chars,</if>
            <if test="sTime != null">s_time,</if>
            <if test="world != null">world,</if>
            <if test="author != null">author,</if>
            <if test="desc != null">`desc`,</if>
            <if test="summary != null">summary,</if>
            <if test="otext != null">otext,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="originId != null">#{originId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="parentId != null "> #{parentId},</if>
            <if test="banner != null "> #{banner},</if>
            <if test="title != null">#{title},</if>
            <if test="type != null">#{type},</if>
            <if test="chars != null">#{chars},</if>
            <if test="sTime != null">#{sTime},</if>
            <if test="world != null">#{world},</if>
            <if test="author != null">#{author},</if>
            <if test="desc != null">#{desc},</if>
            <if test="summary != null">#{summary},</if>
            <if test="otext != null">#{otext},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateStoryBack" parameterType="StoryBack">
        update story_back
        <trim prefix="SET" suffixOverrides=",">
            <if test="sort != null">sort = #{sort},</if>
            <if test="parentId != null "> parent_id = #{parentId},</if>
            <if test="banner != null "> banner = #{banner},</if>
            <if test="title != null">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="chars != null">chars = #{chars},</if>
            <if test="sTime != null">s_time = #{sTime},</if>
            <if test="world != null">world = #{world},</if>
            <if test="author != null">author = #{author},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="otext != null">otext = #{otext},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStoryBackById" parameterType="Long">
        delete from story_back where id = #{id}
    </delete>

    <delete id="deleteStoryBackByIds" parameterType="String">
        delete from story_back where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>